body {
	margin: 0;
	font-family: Helvetica, Arial;
	font-size: 14px;
	color: #444444;
}

.contents {
	width: 800px;
	margin: 0 auto;
}

::selection {
	background: #FF9933;
	color: #FFFFFF;
}

::-moz-selection {
	background: #FF9933;
	color: #FFFFFF;
}

#background {
	background-color: #FF9933;
}

#header {
	height: 150px;
	background-color: #FFFFFF;
}

#navigation {
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
}

	li {
		float:left;
	}

	a:link,a:visited {
		display:block;
		width:180px;
		font-weight:bold;
		color:#FFFFFF;
		background-color:#FF9933;
		text-align:center;
		padding:8px;
		text-decoration:none;
		text-transform:uppercase;
	}

	a:hover,a:active {
		background-color:#FF8C00;
	}


#container {
	min-height: 250px;
	width: 800px;
	margin: 30px auto;

}

	#container .containerblock {
	width: 226px;
	float: left;
	padding: 0 20px;
	}

	
	h2 {
		color: #FF9933;
		margin: 0;
		font-size: 30px;
		/*font-weight: 500;*/
	}

	h3, .promotext {
		margin: 0;
		font-size: 20px;
		font-weight: 300;
	}

	h3.orange {
		color: #FF9933;
	}

	.promotext {
		float: left;
		margin: 15px 0 0 15px;
		width: 180px;
	}

	h4, .subtitle {
		margin: 0 0 -12px;
		color: #585858;
		font-size: 16px;
		font-weight: 800;
	}

#footer {
	height: 160px;
	background-color: #FFFFFF;
	color: #444444;
	text-shadow: 0 1px #FFFFFF;
	padding: 40px 0 0;
}

	#footer #contents {
		
	}

	#footer .footerblock {
		width: 226px;
		float: left;
		padding: 0 20px;
	}

	#footer .footerblock:first-child {
		padding-left: 0;
	}

	#footer .footerblock:last-child {
		padding-left: 40px;
		padding-right: 0;
	}

	#footer b {
		color: #222222;
	}

	#footer a {
		color: #444444;
		/*text-decoration: none;*/
		margin: 4px 0 0;
		display: inline-block;
	}

	#footer a:hover {
		text-decoration: none;
	}